<?xml version="1.0" encoding="UTF-8"?>
<dicts>
    <dict class="com.fr.performance.report.Result4DS">
        <paras>
            <para>
                <name>table</name>
                <value><![CDATA[CPT分析报告]]></value>
            </para>
            <para>
                <name>dbname</name>
                <value><![CDATA[数据连接]]></value>
            </para>
            <para>
                <name>dsname</name>
                <value><![CDATA[sql数据集]]></value>
            </para>
            <para>
                <name>t</name>
                <value><![CDATA[执行时间/ms]]></value>
            </para>
            <para>
                <name>l</name>
                <value><![CDATA[结果行数]]></value>
            </para>
            <para>
                <name>m</name>
                <value><![CDATA[预估内存/kb]]></value>
            </para>
        </paras>
    </dict>
</dicts>